/* =============================================================================
   FONTS
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Germania+One');
@import url('https://fonts.googleapis.com/css?family=Lobster');

/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}




/* =============================================================================
   My CSS
   ========================================================================== */

/* ---- base ---- */

html,body{ 
	width:100%;
	height:100%;
	background:#111;
}

html{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body{
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas{
  display:block;
  vertical-align:bottom;
}


/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.js-count-particles{
  font-size: 1.1em;
}

#stats,
.count-particles{
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/* ---- particles.js container ---- */

#particles-js{
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}


.marg{
  margin-bottom: 5px;
}
* {
  box-sizing: border-box;

}

body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0c1019+0,0b0b0e+100 */
 
  /* IE6-9 fallback on horizontal gradient */
  background:none;
  font-family: montserrat;
  text-align: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
}
body .container_inner {
  width: 300px;
  margin: 0 auto;
  background:transparent;
}
body .container_inner__login {

}
body .container_inner__login .tip {
  color: #81AECE;
  opacity: 0;
  transition: all .4s;
  font-size: 10px;
  position: relative;
  font-weight: 100;
  height: 0px;
  overflow: hidden;
  top: -27px;
  line-height: 14px;
}
body .container_inner__login .tick {
  -webkit-transform: scale(0) translateY(-50%);
          transform: scale(0) translateY(-50%);
  transition: all 0.35s cubic-bezier(0.65, 1.88, 0.51, 0.69);
  position: absolute;
  left: 0;
  top: 50%;
  right: 0;
  margin: auto;
}
body .container_inner__login .tick img {
  width: 50px;
}
body .container_inner__login .hide {
  opacity: 0 !important;
}
body .container_inner__login .bulge {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  top: 50px !important;
  transition: all .4s;
  -webkit-animation: bulge 1s .25s forwards !important;
          animation: bulge 1s .25s forwards !important;
}
body .container_inner__login .login_check {
  font-size: 11px;
  text-align: center;
  line-height: 20px;
  position: absolute;
  display: none;
  left: -26px;
  top: 160px;
  height: 280px;
  width: 278px;
  margin: auto;
  right: 0;
}
body .container_inner__login .login_check img {
  opacity: 0.9;
  width: 140px;
  margin-bottom: 30px;
}
body .container_inner__login .login_check span {
  color: #FF133D;
  line-height: 20px;
}
body .container_inner__login .login {
  position: absolute;
  left: 0;
  top: 50%;
  transition: all .2s;
  width: 220px;
  -webkit-transform-origin: 110px -30px;
          transform-origin: 110px -30px;
  margin: auto;
  -webkit-transform: scale(1) translateY(-50%) rotatex(360deg) rotatey(360deg);
          transform: scale(1) translateY(-50%) rotatex(360deg) rotatey(360deg);
  right: 0;
}
body .container_inner__login .login .center {
  top: 100px !important;
}
body .container_inner__login .login_profile {
  border-radius: 100px;
  height: 80px;
  width: 60px;
  background: none;
  margin-bottom: 40px;
  margin: 0 auto;
  position: relative;
  top: 0px;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: logo_in 1s .9s forwards;
          animation: logo_in 1s .9s forwards;
}
body .container_inner__login .login_profile img {
  position: relative;
  top: 18px;
}
body .container_inner__login .login_profile .logo {
  z-index: 2;
  margin-left: -185px;
}
body .container_inner__login .login_profile .pulse {
  width: 160px;
  position: relative;
  top: -85px;
  display: none;
  left: -42px;
  z-index: 1;
}
body .container_inner__login .login_desc {
  color: #BFBFCE;
  font-size: 10px;
  margin-top: 20px;
  -webkit-animation: pop .5s 1.3s forwards;
          animation: pop .5s 1.3s forwards;
  position: relative;
  opacity: 0;
}
body .container_inner__login .login_desc h3 {
  font-family: 'Lobster', cursive;
  font-size: 20px;
}
body .container_inner__login .login_desc span {
  font-family: 'Lobster', cursive;
  color: #FF133D;
  font-size: 16px;
}
body .container_inner__login .login_inputs {
  margin-top: 50px;
}
body .container_inner__login .login_inputs form {
  margin: 0;
  padding: 0;
}
body .container_inner__login .login_inputs form input {
  width: 100%;
  padding: 10px;
  color: #141416;
  border: none;
  border-radius: 3px;
  text-align: center;
  -webkit-animation: pop .5s 1.6s forwards;
          animation: pop .5s 1.6s forwards;
  position: relative;
  opacity: 0;
  font-size: 13px;
  outline: none;
}
body .container_inner__login .login_inputs form input[type="submit"] {
  margin-top: 12px;
  cursor: pointer;
  border: 1px solid #FF133D;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 10px;
  -webkit-animation: pop .5s 1.9s forwards;
          animation: pop .5s 1.9s forwards;
  position: relative;
  opacity: 0;
  position: relative;
  font-weight: 100;
  color: white;
  font-family: montserrat;
  background: #D61134;
  box-shadow: 0px 2px #69091A, 0px 0px 3px rgba(2, 2, 2, 0.17), 0px 0px rgba(255, 255, 255, 0.13) inset;
  font-size: 11px;
  transition: all .24s;
}
body .container_inner__login .login_inputs a {
  color: #FFF;
  text-decoration: none;
  font-weight: 100;
  -webkit-animation: pop .5s 2.2s forwards;
          animation: pop .5s 2.2s forwards;
  position: relative;
  opacity: 0;
  font-size: 11px;
  display: inline-block;
  margin-top: 20px;
  transition: all .24s;
}
body .container_inner__login .login_inputs a:hover {
  color: #FF133D;
}


@-webkit-keyframes logo_in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1.012);
            transform: scale(1.012);
  }
  80% {
    -webkit-transform: scale(0.995);
            transform: scale(0.995);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes logo_in {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  20% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
  }
  60% {
    -webkit-transform: scale(1.012);
            transform: scale(1.012);
  }
  80% {
    -webkit-transform: scale(0.995);
            transform: scale(0.995);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes pop {
  0% {
    opacity: 0;
    top: 4px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
    top: 4px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
/*


